.div-co-ins {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.boiteForm:nth-child(1) {
    display: flex;
    /* Utiliser flexbox pour centrer le contenu */
    justify-content: left;
    /* Centre horizontalement */
    width: 50%;
}

.boiteForm:nth-child(2) {
    display: flex;
    /* Utiliser flexbox pour centrer le contenu */
    justify-content: right;
    /* Centre horizontalement */
    width: 50%;
}